/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/
html {
  height: 100%;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--text-main-font-family, monospace);
  font-variation-settings: "wght" var(--text-font-weight, 400);
  background-color: var(--themes-background, #ffffff);
  background-image: var(
    --page-background,
    repeating-linear-gradient(0deg, #d3d3d3, #d3d3d300 2px)
  );
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: inherit;
  font-size: var(--text-size, 1.125rem);
  line-height: var(--text-line-height, 21px);
}

.section-width {
  max-width: var(--section-width, 100%);
}

.header {
  width: var(--section-width, 100%);
  font-family: var(--text-accent-font-family, fantasy);
  margin: 100px 0;
  padding: 120px 0;
  text-transform: uppercase;
  background-color: var(--themes-background, #ffffff);
  text-align: center;
  border: 2px solid var(--themes-main-color, #000000);
}

.header__title {
  font-size: var(--site-title-size, 49px);
  line-height: var(--site-title-line-height, 100%);
  font-weight: var(--text-font-weight, 400);
  padding-bottom: 20px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.header__аnnotation {
  font-size: var(--site-аnnotation-size, 14px);
  line-height: var(--site-title-line-height, 100%);
}

.card {
  display: flex;
  flex-direction: column;
  background-color: var(--themes-background, #ffffff);
  border: 2px solid var(--themes-main-color, #000000);
}

.card_label {
  position: absolute;
  top: 21px;
  right: 11px;
  opacity: 0.5;
  text-shadow: 1px 1px 3px var(--themes-shadow-color, #000000);
  font-size: var(--site-button-text-size, 14px);
  font-weight: var(--text-font-weight, 400);
  font-family: var(--text-accent-font-family, fantasy);
  mix-blend-mode: hard-light;
}

@supports (-webkit-text-stroke: 1px var(--themes-background, #ffffff)) {
  .card_label {
    -webkit-text-stroke: 1px var(--themes-background, #ffffff);
    text-shadow: none;
  }
}

.card__title-accent {
  padding: 5px 10px 5px;
  text-wrap: balance;
}

.card__title {
  border-bottom: 2px solid var(--themes-main-color, #000000);
  font-family: var(--text-main-font-family, monospace);
  font-variation-settings: "wght" var(--title-font-weight, 700);
  font-size: var(--text-size, 1.125rem);
}

.card__image {
  aspect-ratio: 1;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.card__image-shell {
  display: flex;
  position: relative;
}

.card__section-text {
  display: grid;
  gap: 25px;
  border-top: 2px solid var(--themes-main-color, #000000);
  padding: 25px;
  font-family: var(--text-main-font-family, monospace);
}

.card__section-text-paragraph {
  display: grid;
  gap: 27px;
}

.card__section-text-button {
  display: flex;
  justify-content: flex-end;
  gap: 4px;
}
/*
.like-icon {
    — для svg-иконки анимированного сердца 
  --heart-fill-colorvar: rgba(255, 255, 255, 0)
  object-fit: cover;
}*/

.button_action {
  background-color: var(--page-background, #00000000);
  font-size: var(--site-button-text-size, 14px);
  font-family: var(--text-accent-font-family, fantasy);
  border: 2px solid var(--themes-main-color, #000000);
  font-variation-settings: "wght" var(--text-font-weight, 400);
  position: relative;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
}

.button_action:focus-visible {
  outline: var(--themes-main-color, #000000);
  box-shadow: 2px 2px 0px var(--Themes-mainColor, #000000);
}

.button_action::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 100%;
  width: 100%;
  background-color: var(--Themes-mainColor, #000000); /* Цвет псевдоэлемента */
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out; /* Плавность перехода */
}

.button_action:hover::before {
  transform: translateX(0);
}

.card__like-button {
  min-width: 130px;
}

.card__icon-button {
  /* — для кнопки, оборачивающей иконку */
  box-sizing: border-box;
  border: 2px solid var(--themes-background, #ffffff00);
  background-color: var(--page-background, #00000000);
  padding: 0;
  height: 38px;
  transition: border 0.3s ease;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--themes-main-color, #000000);
  outline: 2px solid var(--themes-background, #ffffff00);
  outline-offset: -1;
}

/*
.card__icon {
  border: 2px solid rgba(255, 255, 255, 0); 
  transition: border 0.3s ease; 
}

.card__icon:focus-visible {
  border: 2px solid var(--Themes-mainColor);
} */

.button__text {
  /* — для обозначения текстового элемента внутри кнопки */
  position: relative;
  color: #fff;
  font-family: var(--text-accent-font-family, fantasy);
  font-variation-settings: "wght" var(--text-font-weight, 400);
  font-size: var(--site-button-text-size, 14px);
  z-index: 1;
  mix-blend-mode: difference;
}

.result_form {
  display: block;
  flex-shrink: 0;
  inline-size: 310px;
  margin-bottom: 100px;
  /*  block-size: 84px;
  — margin: 50px 35px 100px; */
  font-family: var(--text-accent-font-family, fantasy);
  text-transform: uppercase;
  background-color: var(--themes-background, #ffffff);
}

.button_block {
  padding-bottom: 15px;
  width: 100%;
}

.floppy {
  position: relative;
  color: #fff;
  display: block;
  margin: 15px auto 8px;
  inline-size: 28px;
  block-size: 28px;
  flex-shrink: 0;
  z-index: 1;
  mix-blend-mode: difference;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog[open] {
  display: flex;
  inline-size: 341px;
  /* block-size: 191px; */
  gap: 30px;
  padding: 30px;
  margin: auto;
  flex-direction: column;
  flex-wrap: nowrap;
}

.dialog_shell {
  display: flex;
  gap: 20px;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
}

.dialog_floppy {
  color: var(--Themes-mainColor, #000000);
  inline-size: 39px;
  block-size: 39px;
  flex-shrink: 0;
}

.dialog_text {
  font-family: var(--text-accent-font-family, fantasy);
  font-variation-settings: "wght" var(--text-font-weight, 400);
  font-size: var(--site-button-text-size, 14px);
  line-height: 150%;
  text-transform: uppercase;
}

.dialog_button {
  line-height: 33px;
}

svg:hover .core {
  transition: fill 0.3s ease-in;
}

svg:not(:hover) .core {
  transition: fill 0.3s ease-in 0.03s;
}

.main-body {
  fill: var(--heart-fill-colorvar, #ff000000);
  transition: fill 0.3s ease-in-out 0.05s;
}

svg:not(:hover) .main-body {
  transition: fill 0.3s ease-in;
}

svg:hover .core,
svg:hover .main-body {
  fill: var(--contour-color, #000000);
}

svg:active .main-body,
svg:active .core {
  fill: var(--heart-fill-color, #ff0000);
}

.like-icon.is-liked .core {
  fill: var(--heart-fill-color, #ff0000);
  transition: fill 0.3s ease-in;
}

.like-icon.is-liked .main-body {
  fill: var(--heart-fill-color, #ff0000);
  transition: fill 0.3s ease-in-out 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--heart-fill-color, #ff0000);
  transition: fill 0.3s ease-in 0.06s;
}

.like-icon.is-liked .heart {
  animation: scaleheart 0.3s ease-in 0.1s;
  transform-origin: center;
}

.like-icon.is-liked .sparks {
  animation: sparkleheart 0.3s ease-in 0.3s 1;
}

.image__decoration-contrast {
  filter: contrast(99%) brightness(101%);
}

.image__decoration-blur {
  filter: blur(0.01rem);
}

.image__decoration-opacity {
  filter: opacity(0.9);
}

.image__decoration-grayscale {
  filter: grayscale(0.1);
}

.image__decoration-hue-rotate {
  filter: hue-rotate(1deg);
}

.image__decoration-sepia {
  filter: sepia(1%);
}

.image__decoration-invert {
  filter: invert(0.1);
}

@media (min-width: 1440px) {
  @media (orientation: landscape) {
    .header {
      margin: 100px 0;
      padding: 128px 0;
    }
    .card_label {
      position: absolute;
      top: 25px;
      right: 25px;
    }

    .result_form {
      display: flex;
      inline-size: 337px;
      /* block-size: 55px; */
      margin: 0px auto 100px;
      border: 2px solid var(--Themes-mainColor, #000000);
    }

    .button_block {
      display: flex;
      align-items: center;
      padding: 0px;
    }

    .floppy {
      margin: 10px 8px 9px 15px;
      width: 21px;
    }
  }
}
